<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="nic's cookbook"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="/styles/style.css">
<script defer src="/scripts/all.js"></script>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />
<title>Recipe Book</title>
</head>
    <body style="background:#407E99;">
        <nav class="nav justify-content-left pt-3">
          <a class="nav-link active" href="/views/index.html"><svg id="back-arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/></svg></a>
          <a href="index.html"><h1 id="heading-mobile" class="heading all-recipes">Nic's Recipe Book</h1></a>
        </nav>
    
        <div class="container-fluid content" style="background:#B08D74; height: 0px;">
            <div class="container-fluid text-center d-flex justify-content-center">
            </div>
    
            <div class="container-fluid search-container text-center d-flex justify-content-center" style="margin-top:-40px;">
                    <input class="search-bar text-center" style="margin-left: 50px;" type="text">
                    <div class="btn search-button" role="button" style="background-image:url('/resources/img/search.png'); height:50px; width:50px"></div>
            </div>
        </div>
    
        <div class="container-fluid d-sm-block d-md-flex justify-content-center">
            <div class="container-fluid" id="page">
                <div role="button" class="button page-content text-center" id="content-1">
                    <div id="ingredients"></div>

                </div>
            </div>
            <div class="container-fluid coil" id="page" style="position:absolute; width:0px; background:rgb(109, 97, 91);"></div>
            <div class="container-fluid" id="page" style="min-width: 200px;">
                <div role="button" class="button page-content pt-1" id="content-2">
                </div>
            </div>
        </div>

        <footer style="height:200px;">
            <div class="footer-content text-center" style="margin-top: 120px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                <p>Click the right page to see the next recipe and left to go back.</p>
            </div>
        </footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>