<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />
<title>Recipe Book</title>
</head>

    <body style="background: #407E99;">
        <div class="container-fluid nav-reserve" style="height:200px;"></div>
        <div class="container-fluid content">
            <div class="container-fluid text-center d-flex justify-content-center">
                <img src="/resources/img/book.png" alt="book" id="book">
                <a href="#"><h1 class="heading lh">Nic's Recipe Book</h1></a>
            </div>

            <div class="container-fluid search-container text-center d-flex justify-content-center">
                    <input class="search-bar text-center" style="margin-left: 50px; font-size: 14px;" type="text" placeholder="search not completed...">
                    <div class="btn search-button" role="button" style="background-image:url('/resources/img/search.png'); height:50px; width:50px"></div>
            </div>
        </div>

        <div class="container-fluid buttons-container d-flex justify-content-center">
            <div role="button" class="btn view-all-btn ml-3 mr-3 p-0">
                <a href="all-recipes.html"><h3 class="view-all-heading">All Recipes</h3></a>
            </div>

            <div role="button" class="btn view-all-btn ml-3 mr-3 p-0">
                <a href="edit-recipe.html"><h3 class="view-all-heading">Edit Recipes</h3></a>
            </div>
        </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>